In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import streamlit as st

In [5]:
import matplotlib.pyplot as plt

In [2]:
import os

In [3]:
df = pd.read_excel("Data input example v2.xlsx", sheet_name='Institution_Data')

In [4]:
df

,Date,Institution Name,Tier 1 Capital,RWA,Total Liabilities,Total Equity,Stage 1 Exposure,Stage 2 Exposure,Stage 3 Exposure,Total Gross Loans,...,Total Assets (t-3),Net Income,Net Operating Income,Non Interest Income,Interest Income,Interest Expenses,Expenses,Liquid Assets,Current Liabilities,Liquidity Coverage Ratio (LCR)
0,2023-12-31,Addiko Bank d.d.,1.146552e+05,4.409817e+05,1.822883e+06,3.820252e+05,1.591062e+06,1.988827e+05,18080.248191,1.808025e+06,...,1.767878e+06,9154.448000,98933.026000,27142.253000,78642.470000,6289.030000,12121.070000,1.830074e+06,1.421849e+06,1.330000
1,2023-12-31,Agram banka d.d.,6.098586e+04,2.102961e+05,5.358907e+05,6.495521e+04,4.187896e+05,5.617909e+04,35750.331466,5.107190e+05,...,5.599547e+05,8187.466000,21370.500000,4742.416000,19385.950000,2535.933000,4177.531000,5.647952e+05,4.287126e+05,2.630000
2,2023-12-31,Banka Kovanica d.d.,3.207775e+04,1.283110e+05,2.057381e+05,2.755463e+04,1.510337e+05,3.485394e+04,7745.318935,1.936330e+05,...,1.916966e+05,4100.385000,13377.922000,2122.634000,14063.128000,2849.372000,3371.272000,2.262940e+05,1.604757e+05,1.820000
3,2023-12-31,Croatia banka d.d.,4.475365e+04,1.721294e+05,2.186886e+05,2.038002e+04,1.950800e+05,2.524565e+04,9180.235238,2.295059e+05,...,1.848928e+05,2468.747000,11740.269000,2051.748000,9581.170000,541.028000,1017.423000,2.199431e+05,1.683902e+05,1.710000
4,2023-12-31,Erste&Steiermärkische Bank d.d.,8.113498e+05,4.507499e+06,1.187849e+07,1.378856e+06,7.758201e+06,2.115873e+06,201511.714376,1.007559e+07,...,8.890326e+06,219215.296000,443464.264000,124649.617000,440750.096000,87469.169000,125191.658000,1.166647e+07,1.009672e+07,2.770000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
75,2020-12-31,Raiffeisenbank Austria d.d.,5.104050e+05,2.639575e+06,4.838976e+06,4.290136e+05,3.541091e+06,3.372468e+05,337246.782403,4.215585e+06,...,3.068995e+06,79535.139489,207194.688762,74921.951496,210774.787406,54120.505710,97477.111874,4.708327e+06,4.672366e+06,2.177824
76,2020-12-31,Samoborska banka d.d.,9.336296e+03,4.112495e+04,6.931271e+04,7.484275e+03,6.427212e+04,3.610793e+03,4332.951644,7.221586e+04,...,5.398146e+04,673.332819,3161.357761,504.954259,2304.323730,35.372063,320.093386,8.664307e+04,6.327528e+04,0.959716
77,2020-12-31,Slatinska banka d.d.,1.851872e+04,9.212370e+04,1.592913e+05,1.762834e+04,1.152984e+05,2.767161e+04,10761.180776,1.537312e+05,...,1.267233e+05,721.597835,8281.746501,1473.033932,6862.558673,622.421969,998.186004,1.807258e+05,1.428428e+05,2.053496
78,2020-12-31,Wüstenrot stambena štedionica d.d.,2.482807e+04,7.836822e+04,2.069401e+05,1.675978e+04,1.969347e+05,1.342737e+04,13427.367660,2.237895e+05,...,1.747988e+05,1219.368536,6688.722672,1211.964176,7295.776114,2134.185512,2601.914638,2.010741e+05,2.072529e+05,1.385853
79,2020-12-31,Zagrebačka banka d.d.,1.405792e+06,9.161371e+06,1.401644e+07,2.123041e+06,1.200003e+07,1.734944e+06,722893.328771,1.445787e+07,...,1.251418e+07,365765.031389,560516.534833,148189.119098,529057.786521,84762.346478,117057.807249,1.152996e+07,1.293058e+07,2.259816